<style>
    #btn_reset {
        float: right;
        font-size: 14px;
        box-shadow: slategrey;
        margin-bottom: 2%;
        width: 8%;
        padding: 0.5% 0.5%;
        border-radius: 50%;
    }
</style>
<div>
    <form action="/reset" method="POST">
        <button id='btn_reset' type="submit" class="btn btn-danger" name="" data-toggle="tooltip" title="Delete all images">
            <i class="fa fa-trash"></i> Reset</button>
    </form>
</div>